<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styleInsert.css">
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body>

    <form action="doInsert" method="POST">
        <div>
            
            <h1><div class="icon"><a href="/"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></div>Adding Toy</h1>
        </div>
        <div class="flex">
            <p><span>Toy ID:</span> <input type="text" name="toyid" id="toyid"></p>
            <p><span>Toy:</span> <input type="text" name="toy" id="toy"></p>
            <p><span>Image:</span> <input type="text" name="image" id="genre"></p>
            <p><span>Price:</span> <input type="text" name="price" id="author"></p>
            <p><span>Amount:</span> <input type="text" name="amount" id="amount"></p>
            <p><input type="submit" id="btn" value="Add"></p>
        </div>
    </form>
</body>
    <script src="/js/insert.js"></script>
</html>